<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Upload</h1>

    <input type="file" id="img">

    <button onclick="upload()">Upload!</button>

    <script>
        if (!localStorage.getItem('token')) window.location.href = '/auth';

        const toBase64 = file => new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = reject;
        });


        async function upload() {
            try {

                const formData = new FormData();
                const fileInput = document.getElementById('img');

                // Append form fields to FormData
                formData.append('image', fileInput.files[0]); // Image file
                formData.append('title', `IMG ${Date.now()}`);

                    const response = await fetch('/api/upload?token=' + localStorage.getItem('token'), {
                        method: 'POST',
                        body: formData, // Send the FormData as the request body
                    });

                    const data = await response.json();
                    console.log(response.status, data);

                    window.location.href = `/image/${data.id}`;
            } catch (error) {
                alert(error);
            }
        }
    </script>
</body>
</html>